* {
	box-sizing: border-box;
	outline-offset: 4px;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	--color-background: hsl(0, 0%, 100%);
	--color-code-selector: hsl(119, 34%, 47%);
	--color-code-properties: hsl(5, 74%, 59%);
	--color-code-value: hsl(35, 99%, 36%);
	--color-code: hsl(0, 0%, 20%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background: var(--color-background);
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	color: var(--color-code);
}

body._dark {
	--color-background: hsl(0, 0%, 15%);
	--color-code-selector: hsl(95, 38%, 62%);
	--color-code-properties: hsl(355, 65%, 65%);
	--color-code-value: hsl(35, 80%, 48%);
	--color-code: hsl(0, 0%, 100%);
}

.main-wrap {
	display: grid;
	grid-column: 1fr;
	grid-auto-flow: column;
	grid-row-gap: 24px;
	width: 100%;
	max-width: 1000px;
	min-width: 660px;
	padding: 16px;
}
